.container {
    position: relative;
    display: flex;
    justify-content: center;
}

.acessar-conta h4,
.cadastrar-conta h4 {
    text-align: center;
}

.acessar-conta h4,
.cadastrar-conta h4,
.btn_submit {
    text-transform: uppercase;
}

input {
    border: 2px solid #F5E9EE;
    background-color: #F5E9EE;
    border-radius: 5px;
    width: 330px;
    height: 40px;
    padding-left: 5px;
}

.btn_submit,
.btn_submit:hover {
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_submit {
    background-color: #EDFFBD;
    border: 4px solid #D8FF6E;
    border-radius: 30px;
    width: 120px;
    height: 50px;
    text-align: center;
    margin: auto;
    display: flex;
}

.btn_submit[value] {
    font-weight: 300;
    justify-content: center;
}

.btn_submit:hover {
    background-color: #c0eb4c;
    border: 4px solid #c0eb4c;
    cursor: pointer;
}
