* {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
}

body {
    background-color: #FAD2E1;
    color: #000000;
    font-family: 'Arimo', sans-serif;
}

#header {
    background-color: #D8FF6E;
    height: 12%;
}

ul {
    list-style-type: none;
}

li a:link {
    text-decoration: none;
}

li {
    display: inline-block;
    font-size: 12px;
    padding: 16px 16px;
}

.nav-menu>ul>li,
.nav-menu a,
.nav-menu .drop-down li {
    position: relative;
}

.nav-menu {
    display: table;
    margin: 0 auto;
}

.nav-menu a {
    display: block;
    text-transform: lowercase;
    color: #000000;
    padding: 10px 16px;
    transition: 0.3s;
    font-size: 13px;
    font-weight: 600;
    font-family: 'JetBrains Mono', monospace;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: #00c1c1;
    text-decoration: none;
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    opacity: 0;
    top: calc(100% - 30px);
    z-index: 99;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
}

.nav-menu .drop-down:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}


.nav-menu .drop-down ul a {
    padding: 8px 2px;
    font-size: 14px;
    font-weight: 560;
    text-transform: none;
    color: #000000;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul li:hover>a {
    color: #00c1c1;
}

li>a>strong {
    font-size: 18px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background: #EDFFBD;
}

/* #footer .fcontainer {
    margin: 12px 10px;
} */

#footer .fcontainer p {
    font-size: 12px;
}

#footer .fcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#footer .fcontainer .fleft {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#footer .fcontainer .fleft .col {
    width: 50%;
}

#footer .fcontainr #about-us {
    width: 50%;
}

/* 
.ftitle {
    margin-bottom: 10px;
} */